$accent: #FF7E3D;
$blue: #1C2BFF;
$white: #fff;
$grey: #F6F6F6;
$dark: #182C37;
$fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI',
Roboto, 'Helvetica Neue', Arial, sans-serif;
$default-font: 'OpenSans', $fallback;
$header-font: 'Montserrat', $fallback;
$default-font-size: 18px;
